body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    width: 1680px;
}

.page-container {
    height: 100%;
    margin: 0 80px;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-nav {
    flex-basis: 506px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 64px;
    height: 64px;
}

.nav-links {
    display: flex;
    justify-content: space-between; 
    flex-basis: 305px;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    flex-basis: 480px;
}

.action-contact {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.action-contact__img {
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

.action-search {
    width: 22px;
    height: 22px;
}

.action-search__icon {
    width: 22px;
    height: 22px;
}

.action-options {
    flex-basis: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-options__item {
    width: 24px;
    height: 24px;
}

.section__nav {
    margin-top: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section-nav__links {
    font-size: 13px;
    color: #A5A5A5;
    text-decoration: none;
    padding-left: 9px;
}

.section-nav__links:first-child {
    padding-left: 0px;
}

.section-nav__catalogue {
    font-family: 'Bellota', sans-serif;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 50px;;
}

.content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: #A5A5A5;
    font-size: 16px;
}

.menu-price {
    display: flex;
    align-items: center;
   
    /* не понятно,почему сохраняется зазор сверху*/
}
.main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;;
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    flex-wrap: wrap;
    
}

.card-specific {
    background-color: brown;
    height: 285px;
    width: 285px;
    margin-top: 20px;
}

.card-specific__left {
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.card-specific__bottom {
    display: flex;
    margin-left: 10px;
    margin-top: 160px;
    justify-content: space-between;
}

.card-specific__logo {
    margin-right: 20px;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;    
}

.footer-contacts {
    margin-left: 10px;   
}

@media screen and (max-width:1370px) {
    .content {
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 50px;
    }
    
    .menu-price {
        margin-top: 20px;
    }
    
    .menu-sort {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .header-nav {
        flex-basis: 350px;
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: flex;
        padding-left: 50px;
        justify-content: space-between; 
        flex-basis: 250px;
    }

    .header-actions {
        display: flex;
        justify-content: space-between;
        flex-basis: 380px;
    }

    .action-options {
        flex-basis: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 930px) {
    .header {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .header-nav {
        flex-basis: 350px;
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: flex;
        padding-left: 20px;
        justify-content: space-between; 
        min-width: 220px;
    }

    .header-actions {
        display: flex;
        margin-left: 50px;
        justify-content: space-between;
        min-width: 350px;
    }

    .action-options {
        flex-basis: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-options {
        min-width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-contact {
        min-width: 200px;
        display: flex;
        font-size: 18px;
        align-items: center;
    }
}

@media screen and (max-width:1370px) {
    .main {
        max-width: 80%;
    }  

    .card-top__unknown {
        margin-top: 25px;
    } 
    
    .card-specific {
        margin-top: 25px;;
    }
}

@media screen and (max-width: 1200px) {

    .main {
        max-width: 60%;
    }
}    
    

