body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}


.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px 80px;
}

.header-nav {
    flex-basis: 506px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 64px;
    height: 55.22px;
}

.nav-links {
    display: flex;
    justify-content: space-between; 
    flex-basis: 305px;
}

.nav-links__item:first-child {
    text-transform: uppercase;
    font-weight: 800;
}

.nav-links__item {
    text-decoration: none;
    color: white;
}

.nav-links__item:hover {
    color: #F5BA63;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    flex-basis: 480px;
}

.action-contact {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.action-contact__img {
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

.action-search {
    width: 22px;
    height: 22px;
}

.action-search__icon {
    width: 22px;
    height: 22px;
}

.action-options {
    flex-basis: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-options__item {
    width: 24px;
    height: 24px;
}

.action-contact__phone {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.action-contact__phone:hover {
    color: #F5BA63;
}

.section {
    height: 250px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section-logo {
    position: absolute;
    top: 170px;
    z-index: -1;
    
}

.section__nav {
    margin-top: 90px;
    padding: 0px 80px;
    display: flex;
    align-items: center;
}

.section-nav__links {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #A5A5A5;
    text-decoration: none;
    margin-left: 10px;
}

.section-nav__links:first-child {
    margin-left: 0px;
    display:flex;
}

.section-nav__links:hover {
    color: #F5BA63;
}

.nav-arrow {
    margin-left: 10px;
}

.section-arrow {
    border-top: 1.2px solid #A5A5A5;;
    border-right: 1.2px solid #A5A5A5;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    align-items: center;
    box-sizing: border-box;
    align-items: center;

}

.section-arrow:hover {
    border-top: 1.2px solid #F5BA63;
    border-right: 1.2px solid #F5BA63;
}

.section-nav__catalogue {
    padding: 0px 80px;
    display: flex;
    font-family: 'Bellota', sans-serif;
    font-weight: bold;
    font-size: 56px;
    margin-top: 40px;
    
}

.action-contact__img:hover {
    opacity: 0.5;
}

.action-options__item:hover {
    opacity: 0.5;
}

.action-search__icon:hover {
    opacity: 0.5;
}

.content {
    margin-top: 90px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #A5A5A5;
    font-size: 16px;
}

.content-menu {
    display: flex;
    align-items: center;
}

.content-menu__arrow {
    border-top: 1.2px solid #A5A5A5;
    border-right: 1.2px solid #A5A5A5;
    height: 6px;
    width: 6px;
    transform: rotate(135deg);
    margin-left: 10px;
}

.content-menu__link:first-child {
    margin-left: 0px;
}

.content-menu__link {
    margin-left: 30px;
}

.content-menu__link:hover {
    color: #F5BA63;
    cursor: pointer;
}

.content-menu__arrow:hover {
    border-top: 1.2px solid #F5BA63;
    border-right: 1.2px solid #F5BA63;
    cursor: pointer;
}

.menu-price {
    display: flex;
    align-items: center;
   
}

.menu-price__item {
    margin-left: 10px;
}

.menu-price__item:first-child {
    margin-left: 0px;
}

.menu-price__field {
    width: 66px;
    border-bottom: 1px solid #A5A5A5;
    position: relative;
    top: 15px;
    margin-left: 15px;
}

.menu-sort {
    display: flex;
    align-items: center;
}

.menu-sort__engine:hover {
    color: #F5BA63;
    cursor: pointer;
}

.card-item {
    margin-top: 10px;
    padding: 0px 60px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.card-item__picture {
    height: 285px;
    width: 285px;
    margin-left: 20px;
    margin-top: 20px;
}

.item__container {
    display: flex;
}

.item-specific {
    background-color: #552622;
    height: 285px;
    width: 285px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    opacity: 0;
}

.item-specific:hover {
    opacity: 1;
}

.specific-description {
    margin-left: 25px;
    margin-top: 30px;
}

.specific-description__bold {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.specific-description__lowercase {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.specific-info {
    margin-top: 110px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.specific-info__price {
    font-size: 18px;
}

.info-logo {
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.info-logo__heart {
    height: 15px;
    width: 15px;
}

.info-logo__heart:hover {
    opacity: 0.4;
}

.info-logo__basket {
    height: 15px;
    width: 15px;
    position: relative;
    left: 35px;
}

.info-logo__basket:hover {
    opacity: 0.4;
}

.logo-circle__picture {
    height: 45px;
    width: 45px;
    margin-left: 6px;
    margin-bottom: 2px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;  
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 90px;
    margin-top: 120px;
}

.footer-copyright__logo {
    display: flex;
    margin-bottom: 120px;
}

.footer-copyright__bold {
    font-weight: bold;
    margin: 0px;
}

.footer-copyright__thin {
    margin-top: 5px;
}

.footer-copyright__facebook {
    height: 24px;
    width: 24px;
    margin-top: 25px;
}

.footer-copyright__facebook:hover {
    opacity: 0.5;
}

.footer-copyright__instagram {
    height: 24px;
    width: 24px;
    margin-top: 25px;
    margin-left: 30px;
}

.footer-copyright__instagram:hover {
    opacity: 0.5;
}

.footer-contacts {
    display: flex;
    align-items: flex-start;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    padding-left: 90px;
    text-decoration: none;
    color: white;
}

.contacts-info__catalogue {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
}

.contacts-info__catalogue:hover {
    color: #F5BA63;
}

.contacts-info__about {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.contacts-info__about:hover {
    color: #F5BA63;
}

.contacts-info__certificate {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.contacts-info__certificate:hover {
    color: #F5BA63;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 130px;
    margin-top: 120px;
    padding-right: 130px;
}

.footer-info__FAQ {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
}

.footer-info__FAQ:hover {
    color:  #F5BA63;
}

.footer-info__warranty {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.footer-info__warranty:hover {
    color: #F5BA63;
}

.footer-info__contacts {
    color: white;
    font-size: 16px;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.footer-info__contacts:hover {
    color: #F5BA63;
}

.footer-address {
    padding-left: 135px;
    margin-top: 120px;
    justify-content: center;
}

.footer-address__details {
    margin-top: 10px;
}

.footer-address__details {
    margin-top: 0px;
}

@media screen and (max-width: 1250px) {
    .header-nav {
        flex-basis: 350px;
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: flex;
        padding-left: 50px;
        justify-content: space-between; 
        flex-basis: 250px;
    }

    .header-actions {
        display: flex;
        justify-content: space-between;
        flex-basis: 380px;
    }

    .action-options {
        flex-basis: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 930px) {
    .header {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .header-nav {
        flex-basis: 350px;
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: flex;
        padding-left: 20px;
        justify-content: space-between; 
        min-width: 220px;
    }

    .header-actions {
        display: flex;
        margin-left: 50px;
        justify-content: space-between;
        min-width: 350px;
    }

    .action-options {
        flex-basis: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-options {
        min-width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-contact {
        min-width: 200px;
        display: flex;
        font-size: 18px;
        align-items: center;
    }
}

@media screen and (max-width:1250px) {
    .content {
        display: flex;
    }
    
    .content-menu {
        display: flex;
    }

    .content-menu__link:first-child {
        margin-left: 0px;
    }
    
    .content-menu__link {
        margin-left: 10px;
    }
    
    .menu-price {
        display: flex;
        margin-left: 15px;
    }
}

@media screen and (max-width:970px) {
    .content-menu {
        display: flex;
    }

    .content-menu__link:first-child {
        margin-left: 0px;
    }
    
    .content-menu__link {
        margin-left: 10px;
    }
    
    .menu-price {
        margin-left: 30px;
    }

    .menu-sort {
        margin-left: 30px;
    }
}

@media screen and (max-width:1436px) {
    .card-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0px;
    }

    .card-item__picture {
        margin-left: 20px;
        margin-top: 10px;;
        height: 200px;
        width: 200px;
    }

    .item-specific {
        margin-top: 10px;
        margin-left: 20px;
        height: 200px;
        width: 200px;            
    }

    .specific-description__bold {
        font-size: 12px;
    }

    .specific-description__lowercase {
        font-size: 8px;
    }

    .specific-info__price {
        font-size: 12px;
    }

    .specific-info {
        min-height: 58px;
        margin-top: 70px;
    }

    .info-logo {
        margin-left: 30px;
    }

    .card-hover {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0px;
    }
}

@media screen and (max-width:1370px) {
    .card-item {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 0px;
    }

    .card-item__picture {
        margin-left: 20px;
        margin-top: 10px;
        height: 200px;
        width: 200px;
    }
    
    .item-specific {
        margin-left: 20px;
        margin-top: 10px;
        max-height: 200px;
        min-width: 200px;            
    }

    .specific-description__bold {
        font-size: 12px;
    }

    .specific-description__lowercase {
        font-size: 8px;
    }

    .specific-info__price {
        font-size: 12px;
    }

    .specific-info {
        min-height: 58px;
        margin-top: 70px;
    }

    .info-logo {
        margin-left: 30px;
    }
    
}

@media screen and (max-width:980px) {
    .card-item {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 0px;
    }

    .card-item__picture {
        margin-top: 10px;
        height: 200px;
        width: 200px;
    }

}

@media screen and (max-width:1435px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-copyright {
        margin-right: 0px;
    }

    .footer-contacts {
        margin-left: 0px;
    }

    .contacts-info {
        margin-left: 30px;
    }

    .footer-info {
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer-address {
        margin-left: 20px;
    }
}

@media screen and (max-width:1220px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-copyright {
        margin-left: 10px;
        padding: 0px;
    }

    .contacts-info {
        margin-left: 10px;
        padding: 0px;
    }

    .footer-info {
        margin-left: 10px;
        padding: 0px;
    }

    .footer-address {
        margin-left: 10px;
        padding: 0px;
    }